<!-- index.html -->
{% extends "base.html" %}

{% block title %}Bienvenido - PDF a Excel{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Bienvenido al Convertidor de PDF a Excel</h1>
    <p class="text-center">Esta herramienta te permitirá convertir archivos PDF en archivos Excel fácilmente. Haz clic en el botón de abajo para comenzar.</p>
    
    <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/consolidado" class="btn btn-primary">Ir a Convertir PDF a Excel</a>
    </div>
{% endblock %}