<!-- index.html -->
{% extends "base.html" %}

{% block title %}Bienvenido - PDF a Excel{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Bienvenidos</h1>
    <p class="text-center">Esta herramienta aloja todos los procesos autmatizados que maneja la DPCPD.</p>
    <p class="text-center">Haz clic en el botón de abajo para comenzar.</p>
    
    <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/consolidado" class="btn btn-primary">Ir a la Matriz de aprobación del pago del Bono JGL</a>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/infografia" class="btn btn-primary">Ir a la Infografia</a>
    </div>
{% endblock %}